<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="AirBalticFunctionalTest"  verbose="3">
  <test name="StartPageTest">
    <parameter name = "param1" value = " "/>
    <classes>
      <class name="com.epam.AirBaltic.ReturnDateIsValid"/>
      <class name="com.epam.AirBaltic.UpdateAccountCheck"/>
      <class name="com.epam.AirBaltic.ReturnDateIsVisible"/>
      <class name="com.epam.AirBaltic.ChildPriceCheck"/>
      <class name="com.epam.AirBaltic.CheckTermsAndConditions"/>
      <class name="com.epam.AirBaltic.CheckNumberOfSeatsForOnePerson"/>
      <class name="com.epam.AirBaltic.NumberOfInfantsTest"/>
      <class name="com.epam.AirBaltic.YouthOfferPageTest"/>
      <class name="com.epam.AirBaltic.SnowyPeaksPageTest"/>
      <class name="com.epam.AirBaltic.TotalPriceTest"/>
    </classes>
  </test>
</suite>