<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="AirBalticFunctionalTest"  verbose="3">
  <test name="StartPageTest">
    <parameter name = "param1" value = " "/>
    <classes>
      <!--<class name="com.epam.AirBaltic.tests.ReturnDateIsValid"/>-->
      <!--<class name="com.epam.AirBaltic.tests.UpdateAccountCheck"/>-->
      <!--<class name="com.epam.AirBaltic.tests.ReturnDateIsVisible"/>-->
      <!--<class name="com.epam.AirBaltic.tests.ChildPriceCheck"/>-->
      <!--<class name="com.epam.AirBaltic.tests.CheckTermsAndConditions"/>-->
      <!--<class name="com.epam.AirBaltic.tests.CheckNumberOfSeatsForOnePerson"/>-->
      <class name="com.epam.AirBaltic.tests.NumberOfInfantsTest"/>
      <class name="com.epam.AirBaltic.tests.YouthOfferPageTest"/>
      <!--<class name="com.epam.AirBaltic.tests.SnowyPeaksPageTest"/>-->
      <!--<class name="com.epam.AirBaltic.tests.TotalPriceTest"/>-->
    </classes>
  </test>
</suite>